<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
   
<mapper namespace="net.jason.database.fileMapper">
	
	<select id="listFile" resultType="net.jason.database.FileDto" parameterType="Integer">
		SELECT * FROM blog_img where blog_num = #{blog_num}
	</select>
	
	<insert id="insertFile" parameterType="net.jason.database.FileDto" useGeneratedKeys="true" keyProperty="num">
		INSERT INTO blog_img (blog_num, oldname, newname, ext, filesize, imname)
		VALUES (#{blog_num}, #{oldname}, #{newname}, #{ext}, #{filesize}, #{imname}) 
	</insert>
	
	<update id="updateFile" parameterType="net.jason.database.FileDto">
		UPDATE blog_img set
			oldname = #{oldname}, newname=#{newname}, ext=#{ext}, filesize=#{filesize}
		WHERE num = #{num}
	</update>
	
	<update id="insertAfterUpdateFile" parameterType="net.jason.database.FileDto" >
		UPDATE blog_img SET
			blog_num = #{blog_num}
		WHERE imname = #{imname}
	</update>
	
	<delete id="deleteFile" parameterType="Integer">
		DELETE FROM blog_img WHERE num = #{num} 
	</delete>
</mapper>