<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="helloWorld" class="net.jason.spring.HelloWorld">
	 	<property name="message1" value="HelloWorld"/>
	 	<property name="message2" value="Hello Second World" />
	 </bean>
	 <bean id="helloKorea" class="net.jason.spring.HelloKorea" parent="helloWorld">
	 	<property name="message1" value="HelloKorea"/>
	 	<property name="message3" value="독도는 한국땅, 대마도도 한국땅" />
	 </bean>

</beans>
